/* CAROLINA ROJAS COLLANTE */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ddd;
}

.container {
  width: 80%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  width: 100%;
  background-color: #6aa84f;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  width: 100%;
}

.navigation {
  width: 20%;
  background-color: #6fa8dc;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 80%;
  background-color: #e06666;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

.subcontents {
  width: 30%;
  background-color: #ffd966;
  height: 200px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement {
  width: 95%;
  background-color: #b4a7d6;
  height: 100px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
